/* responsive styles here  */
@media screen and (max-width:572px) {

    nav {
        flex-direction: column;
        align-items: center;
    }

    .partner,
    nav ul {
        flex-wrap: wrap;
        align-items: baseline;
        align-content: center;
        gap: 10px;
    }
    .featured,
    .banner {
        flex-direction: column-reverse;
        height: auto;
    }
    .featured,
    .banner-content {
        text-align: center;
    }

    .banner-content,
    .banner-img {
        max-width: 100%;
    }

    .banner-content h1 {
        font-size: 1.8rem;
    }
    .partner{
        border: none;
    }
    .partner img{
        width: 20%;
    }
    .card-container{
        grid-template-columns: 1fr;
    }
    main{
        width: 85%;
    }
}